.WeatherApp-Container {
  display: flex;
  flex-direction: column;
}

.WeatherApp-Header-Container {
  align-self: flex-start;
  margin-top: 20px;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.WeatherApp-Weather-Container{ 
  align-self: center;
  width: 500px;
}

.WeatherApp-Title {
  font-weight: 700px;
  font-size: 20px;
}

.WeatherApp-Loading-Container {
  position: relative;
  left: 250px;
  top: 100px;
}

.WeatherApp-Loading-Button {
  position: absolute;
  width: 200px;
  height: 71px;

  background: linear-gradient(304.98deg, #0075C4 27.02%, rgba(92, 190, 255, 0.2) 177.21%);
  border-radius: 35.5px;
}

.WeatherApp-Loading-Text {
  width: 175px;
  height: 32px;
  left: inherit;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 14px;

  color: #FFFFFF;
}